body{
    background-color: #F9FAFF;
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 835px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}